<div class="ui vertical menu">
    <NavLink class="item" href="/">
        <div class="flex-row">
            <a class="ui logo icon image" href="/">
                <img src="/bird.png">
            </a>
            <h1>Early Bid</h1>
        </div>
    </NavLink>
    <NavLink class="item" href="/">
        <i class="warehouse icon" aria-hidden="true"></i> Auctions
    </NavLink>
    <NavLink class="item" href="/bids">
        <i class="hand point right outline icon" aria-hidden="true"></i> Bids
    </NavLink>
</div>
